<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br />
  <%= f.hidden_field :group, :value => @group_id %>
  <div class="field">
    <%= f.label :doers, "Assigned to" %>
    <%= f.hidden_field :doers, :id => "task-doers" %>  
    <ul class="user-check-list">
      <% if !@group_users.nil? then
          @group_users.each do |user| %>
          <li><input type="checkbox" class="user-check"  user="<%= user.id %>" id="user-check-<%= user.id %>"
            <% if @task.doers.include?(user) %> checked=true <% end %> >
            <label for="user-check-<%= user.id %>" class="check-box-label"> <%= user.first + " " + user.last %></label>
          </li>
      <% end 
      end %>
    </ul>
  </div><br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div><br />
  <div class="field">
    <%= f.label :due_by %>
    <%= f.text_field :due_by %>
  </div><br />
  <ul class="actions">
    <li class="button-with-margin">
      <%= f.submit :class => "btn btn-primary" %>
    </li>
    <li class="dropdown button-with-margin">
      <%= link_to raw("Action<span class='caret'></span>"), "#", :class => "btn dropdown-toggle", :'data-toggle' => "dropdown" %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Delete task', @task, confirm: 'Are you sure?', method: :delete %></li>
      </ul>
    </li>
    <div class="clear"></div>
  </div>
<% end %>
