.member-column
  .member-header.column-row
    -if current_user
      You
    - else 
      =member.first
  -if member.has_past_tasks
    .section-header.column-row
      .title
        Completed Tasks
      .action
        = image_tag "older-icon.png" 
        View Older
      .clear
    -for task in member.past_tasks
      .column-row.task.completed
        .contents
          =task.title
        = link_to image_tag("horisontal-arrow.png", :class => "arrow"), edit_task_path(task)
        .clear
  .section-header.column-row
    .title
      Outstanding Tasks
    = link_to (render :partial => "add_action"), new_task_path(:group => @group, :doer => member)
    .clear
  -if !member.has_outstanding_tasks	
    .column-row.task.completed
      No tasks outstanding
  -for task in member.outstanding_tasks
    -if task.due_by < @today
      -status = "late"
    - else
      -status = "pending"    
    .column-row.task{:class => status}
      .contents
        %title
          =task.title
        %ul.details
          %li.date
            -if status != "late"
              =task.due_by.to_date
            -else 
              Due #{(task.due_by.to_date - @today.to_date).to_int.abs} days ago
        -if current_user
          %ul.actions
            %li.button-with-margin
              = link_to "Mark complete", task_complete_path(task), :method => :put, :class => "btn btn-success btn-small", :confirm => "Are you sure you wish to mark this task as completed?"
            %li.button-with-margin.dropdown
              =link_to raw("Action<span class='caret'></span>"), "#", :class => "btn btn-small dropdown-toggle", :'data-toggle' => "dropdown"
              %ul.dropdown-menu
                %li
                  = link_to "Postpone", "#"
                  = link_to "Reassign", "#"
                  = link_to "Comment", "#"
      = link_to image_tag("horisontal-arrow.png", :class => "arrow"), edit_task_path(task)
      .clear
  .new-task-btn-container
    = link_to 'New Task', new_task_path(:group => @group, :doer => member), :class => ["new-task-btn","btn","btn-primary"]