.member-column
  .member-header.column-row
    -if current_user
      You
    - else 
      =member.first
  -if member.has_past_tasks
    .section-header.column-row
      .title
        Completed Tasks
      .action
        = image_tag "older-icon.png" 
        View Older
      .clear
    -for task in member.past_tasks
      .column-row.task.completed
        .contents
          =task.title
        = image_tag "horisontal-arrow.png", :class => "arrow"
        .clear
  .section-header.column-row
    .title
      Outstanding Tasks
    .action
      = image_tag "add-icon.png" 
      Add
    .clear
  -if !member.has_outstanding_tasks
    .column-row.task.completed
      No tasks outstanding
  -for task in member.outstanding_tasks
    -if task.due_by < @today
      -status = "late"
    - else
      -status = "pending"    
    .column-row.task{:class => status}
      .contents
        %title
          =task.title
        %ul.details
          %li.date
            -if status != "late"
              =task.due_by.to_date
            -else 
              Due #{(task.due_by.to_date - @today.to_date).to_int.abs} days ago
        -if current_user
          .actions
            .btn.btn-success.btn-small
              Mark done
            .btn.btn-small
              Postpone
      = image_tag "horisontal-arrow.png", :class => "arrow"
      .clear
  .new-task-btn-container
    .new-task-btn.btn.btn-primary
      New Task