<!DOCTYPE html>
<html>
<head>
  <title>TeamDo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">unison.io</a>
      <ul class="nav">
        <li <% if controller.name == "groups" %>class="active"<% end %> >
          <a href="/groups">Groups</a>
        </li>
        <li <% if controller.name == "users" %>class="active"<% end %> >
          <a href="/users">Users</a>
        </li>
        <li <% if controller.name == "tasks" %>class="active"<% end %> >
          <a href="/tasks">Tasks</a>
        </li>
        <% if session[:user].nil? %>
          <li>
            <a href="/log_in">Log in</a>
          </li>
        <% else %>
          <li>
            <a href="#">Logged in as <%= User.find(session[:user]).first %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
 
<%= yield %>

</body>
</html>
